@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&subset=latin,latin-ext);
body{
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #D64541;
  font-family: 'Source Sans Pro', sans-serif;
}
p{
  font-size: 50px;
  color: #F1A9A0;
  margin: 120px;
  margin-bottom: 80px;
}
table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color:#FFEEEE;
  font-size: 20px;
  border-spacing: 60px 4px;
  border: 3px solid #F27935;
  border-radius: 15px;
}
